.content {
  height: calc(100vh - 200px);
  overflow: scroll;
  overflow-x: hidden; 
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  padding: 10px 0;
}

.content-message {
  color: #333;
  font-size: 40px;
  margin-top: 150px;
  text-align: center;
}

.content-item:hover {background-color: #FAFAFA;}

.content-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;
  margin: 5px 10px;
  color: #333;
}

.content-item-url {
  text-decoration: none;
  color: none;
  width: 99%;
}

.content-item-info-author{
  margin: 0 10px;
  color: #999;
}

.content-item-info-title,
.content-item-info-time {margin: 0 10px;}


.content-item-delete {
  display: flex;
  justify-content: center;
  width: 10%;
}

.content-item-delete-image {
  margin: 0 10px;
  width: 25px;
}