.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff8738;
  height: 200px;
  
  color: #FFFFFF;
}

.header-title,
.header-subtitle {
  font-size: 50px;
  font-weight: 700;
  padding: 0 0 0 20px;
}

.header-subtitle {
  font-size: 25px;
}